.device {
    width: 200px;
    height: 300px;
    margin-right: 20px;
    border: 1px solid;
    vertical-align: top;
}

.device img {
    width: 198px;
}

.section {
    overflow-y: hidden;
}

.section div {
    display: inline-block;
    margin-bottom: 20px;
}