.top-image {
    padding: 10 0;
}

.to-section a {
    background-color: lightblue;
    display: inline-block;
    color: black;
    padding: 20px 16px;
    font-size: 25px;
    width: 280px;
    border: 4px solid;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.sub-menu {
    display:block;
    float: left;
    padding: 4;
    margin-top: 15px;
    width: 200px;
    height: 300px;
    font-size: 30px;
    text-align: left;
}

.sub-menu > a, .sub-menu > h3 {
    position: absolute;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 25px;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    max-width:801px;
    height:86px;
}

/* Float the list items side by side */
ul.tab li {
    float: left;
    height:inherit;
    width:267px;
    border: 1px solid #ccc;
}

/* Style the links inside the list items */
ul.tab li a {
    display:table-cell;
    vertical-align: middle;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    width:inherit;
    height:inherit;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus {background-color: #ccc;}