* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;margin:0}

/* Slideshow container */
.container {
    min-width:1000;
    max-width:1000;
  margin: auto;
}

.carousel-control.left, .carousel-control.right{
    width: 0px;
    height: 300;
    color: black;
}

.carousel-inner{
    backface-visibility: hidden;
    height:650px;
}


.testo {
    margin: auto;
    width: 447px;
}

.carousel-indicators{
   top:43%;
    height: 20px;
}

.slides-arrow {
    width: 40;
}

.left-arr{
    margin: 130px 0 0 -15px;
}

.right-arr{
    margin: 130px 0 0 -29px;
}