.banner{
    width : 1000px;
}
.banner img {
    width: inherit;
}
.tabella {
}

.tabella table{
    margin: 60 auto;
    border: 3px solid #ddd;
    background-color: white;
}

 p {
     padding: 10 40 0 40;
    margin: 200;
    width: 600;
}

.content img{
    margin: 2;
}
td, th {
    min-width: 200;
    border: 3px solid #ddd;
    padding: 8px;
}

.content {
    margin: 30 auto;
    width: 80;
    text-align: center;
}


.content label{
    margin-left: 22x;
    margin: ;
    display: inline-block;
    
}

.attivazione {
    margin: auto;
    width: 800;
    border: 3px solid #ddd;
}
.attivazione ul {
    text-align: left;
}

.attivazione ul li{
    margin-left: 30;
}