.banner{
    background-image: url(../pics/smart-life/tv-entertainmentmain.jpg);
    width : 1000px;
    height : 300px;
}

.offer {
    float:right;
    width: 480px;
    height: 200px;
    background-color: black;
    margin: 10
}

.body {
    display: inline-block;
    margin-top: 80px;
}

.bottone {
    margin-top: 48px;
}
